header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
}
