.header {
  box-shadow: 0px 0px 25px 0px rgba(5, 25, 25, 0.08);
}

.header-content {
  padding-top: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* gap: 10px; */
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
}

.logo {
  display: flex;
  padding: 22px 10px 30px 10px;
  align-items: center;
  /* gap: 32px; */
}

.header-nav-item {
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: var(--t2);

  font-weight: 700;
  line-height: var(--lh150);
}
