.about-vacancy {
  margin-top: -39px;
  padding-bottom: 120px;
  background-color: var(--main-gray-lighter);
}

.abaout-vacancy_content {
  padding-top: 120px;
  grid-column-gap: 140px;
  display: flex;
}

.about-vacancy_info {
  margin-top: -7px; /* маргин может не понадобиться */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap);
}

.about-vacancy_p {
  margin-top: 12px;
  margin-bottom: 60px;
  width: 30vw;
  font-size: var(--t1);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.about-vacancy_info-card {
  display: flex;

  width: 26vw;

  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  border-radius: var(--border-radius);
  background: var(--black);
}

.about-vacancy_info-card p {
  color: var(--white);
}

.turquoise-text {
  font-family: var(--font-family-heading);
  font-size: var(--h1);
  font-weight: 800;
  line-height: var(--lh100);
  color: var(--main-color1-light) !important    ;
  /* мне не нравится импортант */
}

.about-vacancy_imgs {
  display: grid;
  gap: 40px;
}

.about-vacancy_imgs img {
  border-radius: var(--border-radius);
}
