.hero {
    height: 860px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: calc(6vh + 3px);


    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 11px;
}

.hero-text {
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
}

.title-hero {
    font-size: var(--h1);
    font-weight: 800;
    line-height: var(--lh100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & span {
        color: var(--main-color-dark);
    }
}

.hero-p {
    width: 460px;
    font-size: var(--t1);
    font-weight: 400;
    line-height: var(--lh150);
}

.hero_link-to-form {
    margin-top: 18px;
    display: flex;
    padding: 40px;
    align-items: center;
    gap: 27px;
    border-radius: var(--border-radius);
    background: var(--black);

    & p {
        font-size: var(--t1);
        font-weight: 800;
        line-height: var(--lh100);
        color: var(--white);
    }

    & span {
        color: var(--main-color);
    }
}

.imgs-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    & img {
        border-radius: var(--border-radius);
    }
}

.imgs-hero img:nth-child(2n) {
    margin-top: 50%;
}

.imgs-hero img:nth-child(3n) {
    margin-top: -50%;
}

@media only screen and (max-width: 1367px) {
    .hero {
        height: 787px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
    }

    .imgs-hero img {
        width: 100%;
    }
}

@media only screen and (max-width: 770px) {
    .hero {
        padding-top: calc(10dvh + 5px);
        /*padding-bottom: 86px;*/
        height: 62dvw;
    }

    .hero-text {
        gap: 20px;
        padding-top: 0px;
    }

    .hero-p {
        font-size: var(--t2);
        width: 44vw;
    }

    .hero_link-to-form {
        padding: 20px;
        margin-top: 37px;
        flex-direction: column;

        & .link-to-form {
            width: -moz-available;
        }
    }
}

@media only screen and (max-width: 694px) {
    .hero {
        padding-bottom: 87px;
    }
}


@media only screen and (max-width: 378px) {
    .hero {
        padding-top: calc(9vh + 5px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 20px;
        height: 820px;
    }

    .header-content {
        width: 90vw;
    }

    .hero-p {
        width: 88vw;
    }

    .hero_link-to-form {
        margin-top: 401px;
    }

    .imgs-hero {
        margin-top: -538px;
    }
}

.hero {
    height: 860px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: calc(6vh + 3px);
}

.hero-text {
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
}

.title-hero {
    font-size: var(--h1);
    font-weight: 800;
    line-height: var(--lh100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & span {
        color: var(--main-color-dark);
    }
}

.hero-p {
    width: 460px;
    font-size: var(--t1);
    font-weight: 400;
    line-height: var(--lh150);
}

.hero_link-to-form {
    margin-top: 18px;
    display: flex;
    padding: 40px;
    align-items: center;
    gap: 27px;
    border-radius: var(--border-radius);
    background: var(--black);

    & p {
        font-size: var(--t1);
        font-weight: 800;
        line-height: var(--lh100);
        color: var(--white);
    }

    & span {
        color: var(--main-color);
    }
}

.imgs-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    & img {
        border-radius: var(--border-radius);
    }
}

.imgs-hero img:nth-child(2n) {
    margin-top: 50%;
}

.imgs-hero img:nth-child(3n) {
    margin-top: -50%;
}

@media only screen and (max-width: 1367px) {
    .hero {
        height: 787px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
    }

    .imgs-hero img {
        width: 100%;
    }
}

@media only screen and (max-width: 770px) {
    .hero {
        padding-top: calc(10dvh + 5px);
        /*padding-bottom: 86px;*/
        height: 62dvw;
    }

    .hero-text {
        gap: 20px;
        padding-top: 0px;
    }

    .hero-p {
        font-size: var(--t2);
        width: 44vw;
    }

    .hero_link-to-form {
        padding: 20px;
        margin-top: 37px;
        flex-direction: column;

        & .link-to-form {
            width: -moz-available;
        }
    }
}

@media only screen and (max-width: 694px) {
    .hero {
        padding-bottom: 37dvh;
    }
}

@media only screen and (max-width: 456px) {
    .hero {
        padding-top: calc(10vh + 5px);
        padding-bottom: 0dvh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 20px;
        height: 820px;
    }

    .header-content {
        width: 90vw;
    }

    .hero-p {
        width: 88vw;
    }

    .hero_link-to-form {
        margin-top: 68dvh;
    }

    .imgs-hero {
        margin-top: -93dvh;
    }
}

@media only screen and (max-width: 409px) {
    .hero_link-to-form {
        margin-top: 61dvh;
    }

    .imgs-hero {
        margin-top: -82dvh;
    }
}