@import "assets/scss/style";

.header {
  padding: vw(8px) 0;
  box-shadow: 0 0 vw(25px) rgba(5, 25, 25, 0.08);
  background-color: var(--white);
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;

  @media only screen and (max-width: 1499px) {
    padding: vwh(8px) 0;
    box-shadow: 0 0 vwh(25px) rgba(5, 25, 25, 0.08);
  }

  @media only screen and (max-width: 991px) {
    padding: vwt(8px) 0;
    box-shadow: 0 0 vwt(25px) rgba(5, 25, 25, 0.08);
  }

  @media only screen and (max-width: 576px) {
    padding: vwm(8px) 0;
    box-shadow: 0 0 vwm(25px) rgba(5, 25, 25, 0.08);
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 991px) {
      justify-content: space-between;
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    gap: 12px;

    &__list {
      gap: vw(12px);
      @media only screen and (max-width: 1499px) {
        gap: vwh(12px);
      }
      @media only screen and (max-width: 991px) {
        gap: vwt(12px);
      }
      @media only screen and (max-width: 576px) {
        gap: vwm(12px);
      }
    }
  }

  #logo {
    @include h4;
    font-weight: 800;
    position: absolute;
    top: -100%;
    padding: 0 15%;
    width: vw(150px);
    transition: var(--transition-base);
    background-color: var(--white);

    @media only screen and (max-width: 1499px) {
      width: vwh(150px);
    }
    @media only screen and (max-width: 991px) {
      width: vwt(150px);
    }
    @media only screen and (max-width: 576px) {
      width: vwm(150px);
    }
  }

  .logo-menu {
    top: 30% !important;
  }

  &__logo {
    display: flex;
    position: relative;
    padding: vw(22px) vw(10px);
    align-items: center;
    transition: var(--transition-base);
    z-index: 3;
    @media only screen and (max-width: 1499px) {
      padding: vwh(22px) vwh(10px);
    }
    @media only screen and (max-width: 991px) {
      padding: vwt(18px) 0;
    }
    @media only screen and (max-width: 576px) {
      padding: vwm(18px) 0;
    }

    &:hover {
      transform: translateY(-100%);
    }

    &__up {
      position: absolute;
      transition: var(--transition-base);
      transform: translate(-50%, -50%);
      font-family: 'Gogh', sans-serif;
      color: var(--main-color);
      line-height: 1;
      top: 150%;
      left: 50%;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        color: var(--main-color-dark);
      }
    }
  }
}

/*  Burger */

/* Гамбургер иконка */
.menu-btn {
  width: vw(48px);
  height: vw(48px);
  position: relative;
  z-index: 3;
  overflow: hidden;
  background-color: var(--main-color);
  @include border-radius-4px;
  cursor: pointer;
  @media only screen and (max-width: 1499px) {
    width: vwh(48px);
    height: vwh(48px);
  }
  @media only screen and (max-width: 991px) {
    width: vwt(48px);
    height: vwt(48px);
  }
  @media only screen and (max-width: 576px) {
    width: vwm(48px);
    height: vwm(48px);
  }
}

.menu-btn span {
  width: vw(24px);
  height: vw(2px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  transition: all 0.5s;
  @media only screen and (max-width: 1499px) {
    width: vwh(24px);
    height: vwh(2px);

  }
  @media only screen and (max-width: 991px) {
    width: vwt(24px);
    height: vwt(2px);
  }
  @media only screen and (max-width: 576px) {
    width: vwm(24px);
    height: vwm(2px);
  }
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 6px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 6px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: vw(65px) 0 0 0;
  box-shadow: inset 0 0 vw(25px) rgba(5, 25, 25, 0.08);
  gap: vw(40px);
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: vw(20px) vw(16px);
  background: var(--white);

  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 2;
  font-size: 24px;
  font-weight: 700;

  @media only screen and (max-width: 1499px) {
    margin: vwh(65px) 0 0 0;
    box-shadow: inset 0 0 vwh(25px) rgba(5, 25, 25, 0.08);
    gap: vwh(40px);
    padding: vwh(20px) vwh(16px);

  }
  @media only screen and (max-width: 991px) {
    margin: vwt(65px) 0 0 0;
    box-shadow: inset 0 0 vwt(25px) rgba(5, 25, 25, 0.08);
    gap: vwt(40px);
    padding: vwt(20px) vwt(16px);

  }
  @media only screen and (max-width: 576px) {
    margin: vwm(65px) 0 0 0;
    box-shadow: inset 0 0 vwm(25px) rgba(5, 25, 25, 0.08);
    gap: vwm(40px);
    padding: vwm(20px) vwm(16px);

  }
}

.menu.active {
  transform: translateX(0);
}
