@font-face {
  font-family: 'Gogh';
  font-weight: 800;
  font-style: normal;
  src: url('public/fonts/Gogh-ExtraBold.woff2') format('woff2'),
  url('public/fonts/Gogh-ExtraBold.woff') format('woff');
}
