@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

:root {
  /* Fonts */
  --font-family-base: 'Raleway', sans-serif;
  --font-family-heading: 'Gogh', sans-serif;

  /* Colors */
  --main-color: #14cccc;
  --main-color-dark: #11a6a6;
  --main-color1-light: #17e5e5;

  --text-icon-gray-black: #05051a;
  --black: #030d0d;
  --main-gray-dark: #3d4040;
  --main-gray-light: #daf2f2;
  --main-gray-lighter: #e1fafa;
  --white: #fff;
  --input-error: #f66;
}